.category {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border : 1px solid  rgb(207, 207, 207);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: solid 3px transparent;
  background-color: white;
}

.category:hover {
  border-color:#245478;
}

.categoriesText{
  flex: 1;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
  margin: 10px 0;
  text-align: left;
  padding:10px 20px 0px 20px;
}

.categoryImageContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
}


.categoryImage {
  max-width: 100%;
  max-height: 100%;
}

.categoryDescription{
  flex:2;
  justify-content: center;
}

.categoryName {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  font-family : "Open Sans";
}

.categoryIcon{
  font-size: 12px;
  color: rgb(0,188,255);
  font-weight: bold;
  font-family : "Open Sans";
}

.categoryCount{
  font-size: 12px;
  font-family : "Open Sans";
}


.categoriesGrid{
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.productsCategories{
  padding : 1% 5% 15% 5%;
}


