.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(94, 94, 94, 0.275);
  height: 300px;

}

.newsLetter{
  display : flex;
  flex: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family : "Open Sans";
  width: 1000px;
}

.newsLetterText{
  flex:2;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  font-family : "Open Sans";
}
.newsLetterInput{
  display: flex;
  flex:4;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  background-color: white;
  margin-right: 20px;
  padding-left: 10px;
} 
.newsLetterButton{
  flex:0.5;
  height: 40px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.copyright{
  flex:1;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-family : "Open Sans";
  width : 100%;
  padding-top: 70px;
}
.footerInfo{
  flex:1;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  width:1000px;
  align-items: center;
  font-family : "Open Sans";
}
.terms, .privacyPolicy, .howToBuy, .contact, .infoCompany{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0)  ;

}