.body{
  background-color: #ffffff;
  width :100%;
  margin-top: 140px;
  margin-left:0;
  margin-right: 0;

}

.header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 100%;
  max-height: 70px;
  background-color: #245478;
}

.logo{
  flex : 1;
  display: flex;
  justify-content: center;
  height: 50px;
}

.search{
  flex : 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
  background-color: white;
  align-items: center;
}

.searchText{
  flex:20;
  border : none;
  height: 30px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  margin-left: 10px;
  font-family : "Open Sans";
  font-size: 15px;

}

.searchText:focus{
  outline: none;
}

.searchButton{

  flex:1;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border : none;
  cursor: pointer;
}

.searchImage{
  font-size:20px;
  color: #245478;
}

.infoAccount{
  flex : 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.favorites, .cart, .customerSupport{
  flex : 1;
  margin:10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cartQuantity{
  position: relative;
  background-color: #f48935;
  color: white;
  border-radius: 50%; 
  font-weight: bold; 
  padding: 2px 5px; 
  top: -20px;
  left: -10px;
}


.favoritesButton, .cartButton, .customerSupportButton{
  background-color: transparent;
  border : none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.icon{
  font-size: 30px;
  color: white;
}

