.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px transparent;
  padding-top: 30px;
  margin: 60px 0;
  
}

.aboutUs{
  flex:1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}


.products{
  flex: 1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}

.services{
  flex: 1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}

.contactUs{
  flex: 1;
  display: flex;
  justify-content: center;
}

.aboutUsButton, .contactUsButton, .productsButton, .servicesButton{
  background-color: transparent;
  border: none;
  font-size:24px;
  font-weight: bold;
  font-family : "Open Sans";
}