.menu{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px transparent;
  height : 70px;
  left: 0px;
  right: 0px;
  margin-bottom:10px;
  background-color: rgb(222, 221, 221);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 70px;
  z-index: 100;
}

.aboutUs{
  flex:1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}


.products{
  flex: 1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}

.services{
  flex: 1;
  display: flex;
  justify-content: center;
  border-right: solid 2px rgb(126, 126, 126);
}

.contactUs{
  flex: 1;
  display: flex;
  justify-content: center;
}

.aboutUsButton, .contactUsButton, .productsButton, .servicesButton{
  background-color: transparent;
  border: none;
  font-size:20px;
  font-weight: bold;
  font-family : "Open Sans";
}