.newProducts{
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px 200px;
}

.newProductsText{
  flex: 1;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
  margin: 10px 0;
  padding-top: 10px;
}

.newProductsGrid{
  flex: 7;
  display:grid;
  grid-template-columns: 400px 400px 400px;
}

.product{
  border : 1px solid black;
  border-radius: 10px;
  margin: 10px;
  
}