.productPage{
  margin: 150px 20px 20px 20px;
}

/*///////////////////////////*/

.productPageHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;;
}

.productsListCategories{
  flex:1;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(207, 207, 207);
  height: 700px;
}

.productsListCategoriesText{
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  font-family : "Open Sans";
}

.productsListCategoriesGrid{
  flex : 13;
  display: flex;
  flex-direction: column;
}

.category{
  flex:1;
  text-align: center;
  justify-content: space-between;
  padding-top: 30px;
}

.categoryName{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
  margin: 10px 0;
  text-align: center;
  padding:10px 20px 0px 20px;
}

/*///////////////////////////*/

.productPageDetails{
  height: 500px;
  display: flex;
  flex : 4;
  flex-direction: row;
  margin: 20px;
}

.productImageContainer{
  flex : 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage{
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.productInfoContainer{
  flex : 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.productId{
  flex:0.5;
  width: 100%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family : "Open Sans";
  margin: 10px 0;
}

.productName{
  flex:0.7;
  width: 100%;
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
  margin: 10px 0;
}

.productDescription{
  flex:1.5;
  width: 100%;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
}

.productAddToCartContainer{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addToCartContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.addtoCartButtonContainer{
  flex:4;

}
.addCartButton {
  padding: 8px;
  width: 100%;
  background-color: transparent;
  font-family : "Open Sans";
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.addCartButton:hover {
  
  background-color: #F48935;
  color: white;
  cursor: pointer;
  border: 1px solid #F48935;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.addedCartButton {
  background-color:green;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.addedCartButton:hover {
  
  background-color:green;
  color: white;
  border: none;
  transition: box-shadow 0.3s ease;
}



/*/////////////////////*/

.productPageSpecs{
  
}

.specsTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #245478;
  color: white;
  font-size: 40px;
  font-family : "Open Sans";
  width: 30%;
  margin-bottom: 20px;
}
.specContainer{
  display: flex;
  flex-direction: row;
}

.specsTable{
  width: 90%;
  margin-left: 50px;
}

.specTitle{
  flex:1;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family : "Open Sans";
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: left;

}
.spec{
  flex:1;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family : "Open Sans";
  padding: 10px;

}


/*/////////////////////*/

.relatedProductsContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.relatedProductsTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #245478;
  color: white;
  font-size: 40px;
  font-family : "Open Sans";
  width: 30%;
  margin-bottom: 20px;
}



.relatedProducts{
  flex: 7;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.relatedProduct {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: white;
}

.relatedProduct:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}


.relatedProductImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  margin-bottom: 20px;
}

.relatedProductFavoriteContainer{
  position: relative;
  top: -20px;
  left:280px;
}

.relatedProductFavoriteIcon{
  font-size: 30px;
  cursor: pointer;
  color :black;
  
}


.relatedProductImage {
  max-width: 100%;
  max-height: 100%;
}

.relatedProductName {
  height: 40px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
